body{
    background-image: linear-gradient(
    to right,
    rgb(245, 244, 211) 0px,
    rgb(245, 244, 211) 550px,
    rgb(194, 73, 73) 550px,
    rgb(194, 73, 73) 2000px
  )
  ;
    /*background-size: cover;*/
    
}

h1{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 43px;
    color: black;
}

h1{
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 43px;
  color: rgb(194, 73, 73);
  text-shadow: -2px 2px 2px rgb(139, 47, 47);
}

p{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: black;
}

  
  div {
    display: block;
  }

  .images{
    margin-left:50px;
    margin-bottom: 15px;
  }

  .row {
    width: 2000px;
  }

    /* Set width length for the left, right and middle columns */
    .column1 {
    width: 525px;
    float: left;
    margin-left: 10px;
    }

    .column2 {
    width: 525px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    }

    a{
      color: rgb(245, 244, 211);
    }
    .link_label{
      font-family: 'DM Sans', sans-serif;
      font-size: 18px;
      color: rgb(245, 244, 211);    
    }
    