body{
    background-image: linear-gradient(
    to right,
    rgb(194, 73, 73) 0%,
    rgb(194, 73, 73) 38%,
    rgb(245, 244, 211) 38%,
    rgb(245, 244, 211) 100%
  );
    /*background-size: cover;*/
    background-repeat: no-repeat;
}

h1{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 43px;
    color: black;
}

h1{
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 43px;
  color: rgb(245, 244, 211);
  text-shadow: -5px 2px 2px rgb(97, 37, 37);
}

p{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: black;
}

  
  div {
    display: block;
  }

  .images{
    margin-left:9%;
    margin-bottom: 2%;
  }

  .row {
    width: 100%;
  }

    /* Set width length for the left, right and middle columns */
    .column1 {
    width: 37%;
    float: left;
    margin-left: 1%;
    }

    .column2 {
    width: 61%;
    float: left;
    margin-top: 2%;
    margin-left: 1%;
    }

    a{
      color: rgb(245, 244, 211);
    }
    .link_label{
      font-family: 'DM Sans', sans-serif;
      font-size: 18px;
      color: rgb(245, 244, 211);    
    }
    